# SPDX-FileCopyrightText: 2023 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

{{- if eq .Values.global.database.location "local" }}
apiVersion: v1
kind: Secret
metadata:
  {{- $name := include "postgresql.secretName" . }}
  name: {{ $name }}
  labels: {{ include "postgresql.labels" $ | nindent 4 }}
type: Opaque
stringData:
  adminPassword: admin
  databasePassword: pwd
  {{ end }}

