# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  annotations:
  {{ include "keycloak.checksums" $ | nindent 4 }}
  {{- if .Values.global.externalSecrets.enabled }}
    avp.kubernetes.io/path: {{ .Values.global.externalSecrets.path | quote }}
  {{- end }}
  labels:
  {{- include "keycloak.labels" $ | nindent 8 }}
  {{- include "common.status-monitor.labels" $ | nindent 8 }}
  {{- include "keycloak.status-monitor.labels" $ | nindent 8 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicas }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels: {{ include "keycloak.selector" $ | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- include "keycloak.checksums" $ | nindent 8 }}
      {{- with .Values.annotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
      {{- include "keycloak.labels" $ | nindent 8 }}
      {{- include "common.status-monitor.labels" $ | nindent 8 }}
      {{- include "keycloak.status-monitor.labels" $ | nindent 8 }}
    spec:
      {{- include "image_pull_secrets" $ | indent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}-keycloak
              topologyKey: {{ .Values.topologyKey | default "kubernetes.io/hostname" }}
      serviceAccount: ""
      serviceAccountName: ""
      securityContext: {{ .Values.podSecurityContext | toYaml | nindent 8 }}
      containers:
      - name: haproxy
        image: {{ .Values.haproxy.image.repository }}:{{ .Values.haproxy.image.tag }}
        imagePullPolicy: {{ .Values.haproxy.image.pullPolicy | default .Values.global.imagePullPolicy }}
        securityContext: {{ .Values.haproxy.containerSecurityContext | toYaml | nindent 10 }}
        ports:
        - { containerPort: 9090, protocol: TCP, name: http }
        {{- if eq .Values.prometheus.enabled true }}
        - { containerPort: {{ .Values.prometheus.port | default 9542 }}, protocol: TCP, name: metrics-http }
        {{- end }}
        resources: {{ .Values.haproxy.resources | toYaml | nindent 10 }}
        volumeMounts:
        - name: ha-proxy-config
          mountPath: /usr/local/etc/haproxy
      - name: keycloak
        image: {{ .Values.global.image.repository }}:{{ .Values.global.image.tag }}
        imagePullPolicy: {{ .Values.global.image.pullPolicy | default .Values.global.imagePullPolicy }}
        securityContext: {{  .Values.containerSecurityContext | toYaml | nindent 10 }}
        args:
          - "start"
          - "--optimized"
          - "--import-realm"
          {{- if .Values.infinispan.enabled }}
          - "--cache=ispn"
          - "--cache-stack=kubernetes"
          {{- end }}
        env:
        {{- include "keycloak.env" $ | indent 8 }}
        {{- with .Values.livenessProbe }}
        livenessProbe: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.readinessProbe }}
        readinessProbe: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.startupProbe }}
        startupProbe: {{- toYaml . | nindent 10 }}
        {{- end }}
        resources: {{ .Values.resources | toYaml | nindent 10 }}
        volumeMounts:
        {{- if .Values.infinispan.enabled }}
        - name: cache-config
          mountPath: /opt/keycloak/conf/
        {{ end }}
        - name: realms
          mountPath: /opt/keycloak/data/import/
        - name: tmp
          mountPath: /tmp
        - name: tmp
          mountPath: /opt/keycloak/data/tmp
        {{- include "keycloak.db.certificates.volumeMount" $ | indent 8 }}
      initContainers:
      - name: "check-database"
        image: {{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}
        imagePullPolicy: {{ .Values.postgresql.image.pullPolicy | default .Values.global.imagePullPolicy }}
        securityContext: {{ .Values.postgresql.containerSecurityContext | toYaml | nindent 10 }}
        command: ['/bin/bash']
        args: ['-c', 'until pg_isready -U {{ .Values.global.database.username }}; do echo waiting for database; sleep 2; done;']
        env:
        {{- include "keycloak.checkdatabase.env" $ | indent 8 }}
        resources: {{ .Values.postgresql.resources | toYaml | nindent 10 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 60 }}
      volumes:
      - name: tmp
        emptyDir: {}
      - name: jboss
        emptyDir: {}
      {{- if .Values.infinispan.enabled }}
      - name: cache-config
        configMap:
          name: {{ .Release.Name }}-cache-config
      {{ end }}
      - name: ha-proxy-config
        configMap:
          name: {{ .Release.Name }}-ha-proxy-config
      - name: realms
        configMap:
          name: {{ .Release.Name }}-realm
      {{- include "keycloak.db.certificates.volume" $ | indent 6 }}
