# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
#
# SPDX-License-Identifier: Apache-2.0

name: Release
on:
  workflow_dispatch:
    inputs:
      do_release:
        description: "Do you want to trigger the release?"
        required: true
        default: "no"
        type: choice
        options:
          - "yes"
          - "no"

jobs:
  release:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      new-release-published: ${{ steps.dry-run.outputs.new-release-published }}
      new-release-version: ${{ steps.dry-run.outputs.new-release-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: 'true'
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: |
          npm install @semantic-release/commit-analyzer
          npm install semantic-release-export-data
          npm install @semantic-release/release-notes-generator
          npm install @semantic-release/changelog
          npm install @semantic-release/github
          npm install @semantic-release/git
      - name: Run Dry Run Semantic Release
        id: dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --dry-run --extends ./.github/config/release.js
      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --extends ./.github/config/release.js

  increase-chart-version:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/test' }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install yq
        run: sudo snap install yq

      - name: Update Chart.yaml version
        run: |
          VERSION="${{ needs.release.outputs.new-release-version }}"
          echo "New version: $VERSION"

          yq -i ".version = \"$VERSION\"" charts/mychart/Chart.yaml

          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add charts/mychart/Chart.yaml
          git commit -m "chore(chart): bump version to $VERSION"
          git push